{% extends "index.html" %}
{% block content %}
<div id="postscontainer">
    {% for blog in blogs %}
    <article class="content-section py-3 px-4 mb-4">
        <div class="d-flex align-items-start gap-4">
            <img class="rounded-circle article-img flex-shrink-0"
                 src="{{ blog.author.image_path }}"
                 alt="{{ blog.author.username }}'s profile picture"
                 width="64"
                 height="64"
                 loading="lazy">
            <div class="flex-grow-1">
                <div class="article-metadata mb-2">
                    <a class="me-2"
                       href="{{ url_for('author', author_id=blog.author.id) }}">{{ blog.author.username }}</a>
                    <small class="text-body-secondary">{{ post.created_at.strftime('%B %d, %Y') }}</small>
                </div>
                <h2>
                    <a class="article-title"
                       href="{{ url_for('blog', blog_id=blog.id) }}">{{ blog.title }}</a>
                </h2>
                <p class="article-content">{{ blog.content }}</p>
            </div>
        </div>
    </article>
    {% endfor %}
</div>
{% if has more %}
    <div class="text-center mb-4">
        <button type="button" class="btn btn-outline-primary" id="loadMoreBtn">Load More Posts</button>
    </div>
{% endif %}
{% endblock content %}
{% block scripts %}